<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--
			The base folder where the rendered reports will go.
			The default action is to place rendered reports adjacent to the instance document in a 'Reports' folder.
			Relative paths may only contain one folder name, and will be created adjacent to the instance document.
			Absolute paths must exist before processing.  A seperate folder will be created and named after each instance document processed.
		-->
    <!--<add key="ReportsFolder" value="Reports" />-->

    <!--
			In which format(s) should reports be created?
			Defaults to 'Xml'.
		
			Possible values:
				Xml
				Html
				HtmlAndXml
		-->
    <add key="ReportFormat" value="Html"/>

    <!--
			In which layout should reports be created?
			Defaults to 'Complete'.
			
			Possible values:
				Complete
				Fragment
		-->
    <add key="HtmlReportFormat" value="Complete"/>

    <!--
			The relative path from the filing service to the currency codes mapping file
			If the file is in the same directory, it should be 'CurrencyCodes.xml'
			If the file is outside of the same directory, it should be '..\CurrencyCodes.xml'\
			If the file is in a sub-directory of the filing service folder, it should be 'Subdirectory\CurrencyCodes.xml'
		-->
    <add key="CurrencyMappingFile" value="CurrencyCodes.xml" />

    <!--
			The caching policy to use for remotely requested files.
			Defaults to 'Default'.

			Possible values:
				Default
				BypassCache
				CacheOnly
				CacheIfAvailable
				Revalidate
				Reload
				NoCacheNoStore
				
			Detailed descriptions of policies can be found here:
			http://msdn.microsoft.com/en-us/library/system.net.cache.requestcachelevel.aspx
		-->
    <add key="RemoteFileCachePolicy" value="Default" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" >
      <assemblies>
        <add assembly="AjaxControlToolkit"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    
    <pages>
      <controls>
        <add tagPrefix="cc1" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <httpRuntime maxRequestLength="12000"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>