<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <!--Base Paths-->
    <add key="baseZipPath" value="C:\TestAuto\BaselineReports\"/>
    
    <!--New Paths-->
    <add key="newZipPath" value="C:\TestAuto\NewReports\"/>

    <!--Log Path-->
    <add key="logPath" value="C:\TestAuto\Results"/>
  </appSettings>
 
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
